[server]
port_rpc_admin_local
port_rpc
port_ws_admin_local
port_ws_public
port_peer
# ssl_key = /etc/ssl/private/server.key
# ssl_cert = /etc/ssl/certs/server.crt

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_ws_admin_local]
port = 6006
ip = 127.0.0.1
admin = 127.0.0.1
protocol = ws

[port_ws_public]
port = 80
ip = 0.0.0.0
protocol = ws

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_rpc]
port = 51234
ip = 0.0.0.0
admin = 127.0.0.1
protocol = https, http

[node_size]
small
# tiny
# small
# medium
# large
# huge

[node_db]
type=NuDB
path=/var/lib/rippled/db/nudb
advisory_delete=0

# How many ledgers do we want to keep (history)?
# Integer value that defines the number of ledgers
# between online deletion events
online_delete=256

[ledger_history]
# How many ledgers do we want to keep (history)?
# Integer value (ledger count)
# or (if you have lots of TB SSD storage): 'full'
256

[database_path]
/var/lib/rippled/db

[debug_logfile]
/var/log/rippled/debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[ips_fixed]
validator_1 51235
validator_2 51235
validator_3 51235

[validators_file]
validators.txt

[rpc_startup]
{ "command": "log_level", "severity": "warning" }

[ssl_verify]
0

# validator public key: nHBd4EtZ3uQcVkaR4Bu7Y9MqLCPL9NnaoD7rKEDK8nDGSkUod3AP

[validator_token]
eyJtYW5pZmVzdCI6IkpBQUFBQUZ4SWUwa0s2bXY4aDZydXVLZXF6R1FlTFBGNXljRUNLNEVQ
dFB4R3JUWFIzSXF4WE1oQXZ5MitQZlVqNnlmc2xTakFLeEZuTzlySkFxT1pDWlNkSnp5ajhB
TjYySE9ka1l3UkFJZ1NNU3R1MnEwRTVoWVl4SEVSNUJRNy9maGxUdW9PNGRjSlA1elh0cWU1
V2tDSUhiYVZ3RFJhOWtVeG1UMitUOWE0VjQwS1RIb0szUXl0VURMMld6V0NmWGNjQkpBZlRR
czRQR1hRQ2ZxTzg5ODZBMDdGUTRXMWNuYlhKRWF5Z2NKWGhEZEQ1Z0J4ays4cGJyUDY0K0p6
d3RUTmFmUWt6TmdtQ0VkYndEbnVKdHFQUjVQQlE9PSIsInZhbGlkYXRpb25fc2VjcmV0X2tl
eSI6IjI3MDZGOTBCQkIzNDNDNDE4RkQ4MUYwNDFDMDAwOUYwQzIwNTQ4NDZCQUYxMUM4MkM1
RjI3OUYyOTFFQjAzMUMifQ==

